// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";


.navbar {
    background-color: transparent;
    border: none;

    .container {
        width: 38% !important;

    .navbar-brand {
        margin: 0px;

        }
    }
}

.container.marketing {
    width: 50%;
    .col-lg-6 {
        width: 50%;
        text-align: center;
    }
}

