// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@font-face {
	font-family: Coolvetica;
	src: url("../fonts/coolvetica rg.ttf");
}

$font-body: Coolvetica, arvo, "Helvetica neue", serif;;
$textcolor : #fefefe;
$linkcolor: #d44c2a;
$bg: lighten(($linkcolor), 20%);

body {
	font-family: $font-body;
	background: $bg;
	color: $textcolor;
}

.navbar {
	background-color: transparent;
	border: none;
	color: $textcolor;
	.container {
		width: 38% !important;
	.navbar-brand {
		margin: 0px;
			a {
				color: $textcolor;
			}
		}
	}
}

.navbar-inverse .navbar-nav > li > a {
	color: $textcolor;
	&:hover {
		color: $linkcolor;
	}
}

.marketing {
	.col-lg-4 {
		text-align: center;
		padding: 0px 60px 0px 60px;
	}
	p {
		font-family: Arial;
		padding-bottom: 20px;
	}
	img {
		width: 180px;
		height: 180px;
		border: 3px solid #fefefe;
		&:hover {
			opacity: 0.7;
		}
	}
}

/* Footer styling */

footer {
	p {
		padding-top: 60px;
	}
	a {
		color: $linkcolor;
	}
}