@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Black.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Black.ttf);
	font-weight: 600;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Black.ttf);
	font-weight: 100;
}

.navbar {
	background-color: transparent;
	border: none;
	margin-bottom: 0px;
	padding-top: 10px;
}

.navbar-brand img {
	width: 90%;
	max-width: 353px;
}

.navbar-nav>li>a {
	color: #fefefe;
	opacity: .7;
	text-transform: uppercase;
}

.jumbotron {
	background: url('../images/background.jpg') no-repeat center center;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 170px;
	padding-bottom: 170px;
	border-top: 3px solid #e74c3c;
	margin-top: -60px;
}

.jumbotron h1 {
	font-family: Roboto, arvo, "Helvetica neue", serif;
	padding: 10px;
	text-align: center;
	margin: 10px 20px;
	font-weight: 600;
	font-size: 50px;
	text-transform: uppercase;
	color: white;
	background-color: rgba(0,0,0,.1);
	text-shadow: 1px 1px 2px #333;
}

.highlight {
	color: #e74c3c;
}