.jumbotron {
	background: url('../images/background.jpg') no-repeat center center;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 170px;
	padding-bottom: 170px;
	border-top: 3px solid #e74c3c;
}