@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Black.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Black.ttf);
	font-weight: 600;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Black.ttf);
	font-weight: 100;
}

body {
	font-family: Roboto, arvo, "Helvetica neue", serif;
	font-size:  16px;
}

.navbar {
	background-color: transparent;
	border: none;
	margin-bottom: 0px;
	padding-top: 10px;
}

.navbar-brand img {
	width: 90%;
	max-width: 353px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fefefe;
	opacity: .7;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 10px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #fff;
	background-color: transparent;
	opacity: 1;
}
.jumbotron {
	background: url('../images/background.jpg') no-repeat center center;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 170px;
	padding-bottom: 170px;
	border-top: 3px solid #e74c3c;
	margin-top: -65px;
}

.jumbotron h1 {
	padding: 10px;
	text-align: center;
	margin: 10px 20px;
	font-weight: 600;
	font-size: 50px;
	text-transform: uppercase;
	color: white;
	background-color: rgba(0,0,0,.1);
	text-shadow: 1px 1px 2px #333;
}

#bottom-section .col-md-4 {
	min-height: 300px;
}

#byfw {
	background-image: url('../images/byfw.png');
}

#baw {
	background-image: url('../images/baw.jpg');
}

#oml {
	background-image: url('../	images/oml.jpg');
}

/* Universal Styling */
.highlight {
	color: #e74c3c;
}